/*Importation police d'écriture*/
@font-face {
    font-family: outfit;
    src: url(../font/Outfit/Outfit-VariableFont_wght.ttf);
}
body{
    background-color: hsl(212, 45%, 89%);
}
.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    margin: auto ;
    margin-top: 150px ;
    width: 230px ;
    /*box-shadow: 10px 5px 5px rgba(45, 45, 45, 0.2);*/
    padding-block: 10px ;
}
.card img {
    width: 210px;
    border-radius: 15px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
h1 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 14px;
    font-family: outfit;
    padding: 5px ;
}
p{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 12px;
    padding: 5px 10px 10px 10px;
    font-family: outfit;
}
.attribution { 
    font-size: 12px; 
    text-align: center; 
    margin-top: 8px;
    font-family: outfit;
    margin-top: 10px;
}
.attribution a { 
    color: hsl(288, 96%, 45%); 
    font-weight: 600; 
    text-decoration: none;
}

/*Responsive*/
@media (min-width : 375px) {
    
}